.add-section {
  background-color: var(--yellow);
  padding-top: 70px;
  padding-bottom: 70px;
}

.add-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.add-container-item-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.add-monitor-image {
  user-select: none;
}

.add-title {
  margin-bottom: 25px;
}

.add-content {
  color: var(--black);
  margin-bottom: 25px;
}

.add-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 15px;
}

.add-list-item {
  display: flex;
  align-items: center;
  gap: 18px;
}

.add-list-item-content {
  color: var(--black);
  line-height: normal;
}

.add-list-item-icon {
  width: 24px;
  height: 24px;
}

.add-svg-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 13.7px;
}

.add-svg-container-item:nth-child(1) {
  width: 44px;
  height: 44px;
}

.add-svg-container-item:nth-child(2) {
  width: 50px;
  height: 10px;
}

.add-svg-container-item:nth-child(3) {
  width: 175px;
  height: 44px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 50px;
  height: 60px;
  width: 184px;
  font-family: 'Roboto', sans-serif;
  color: var(--yellow);
  background-color: var(--black);
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.add-button:hover {
  background-color: var(--yellow);
  color: var(--black);
  border-color: var(--yellow);
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.add-button:active {
  transform: scale(0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: var(--yellow-dark);
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .add-container {
    flex-direction: row;
    gap: 32px;
  }

  .add-list-item-icon {
    width: 32px;
    height: 32px;
  }

  .add-list-item {
    gap: 10px;
  }

  .add-svg-container {
    flex-direction: column;
    gap: 25px;
  }

  .add-svg-container-item:nth-child(1) {
    width: 80px;
    height: 80px;
  }

  .add-svg-container-item:nth-child(2) {
    width: 90px;
    height: 19px;
  }

  .add-svg-container-item:nth-child(3) {
    width: 320px;
    height: 79px;
  }
}

@media screen and (min-width: 1280px) {
  .add-container-item-first {
    gap: 26px;
  }

  .add-svg-container {
    flex-direction: row;
  }
}
