.contest-section {
  background-color: var(--black);
  padding-bottom: 70px;

  height: 1000px;
}

.line-gradient {
  height: 70px;
  /* width: 320px; */
  width: 100%;
  background-image: url('/img/mobile/contest/mobile-transitionUp.jpg'),
    linear-gradient(to bottom, var(--white), var(--black));
  /* background-size: cover; */
  background-repeat: repeat;
  border: 0;
}

.stock-container {
  position: absolute;
  top: 6px;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 62px;
  height: 62px; */

}

.contest-stock-svg {
  fill: transparent;
  stroke: var(--yellow);
  width: 62px;
  height: 62px;
}

.text-action-in-swg {
  position: absolute;
  color: var(--yellow);
  font-family: 'Archangelsk', sans-serif;
  font-size: 14px;

  transform: rotate(-45deg);
}

/* .contest-svg {
  fill: transparent;
  height: 100px;
  width: 100px;
  stroke: var(--yellow);
} */

.contest-list {
  display: flex;

}

.contest-item {
  margin-top: 55px;
}



.console-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  max-width: 375px;
}


.wrapper-for-console {
  position: relative;
  width: 132px;
  /* height: 131px; */

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.console-background {
  position: absolute;
  top: 0;
  left: 0;
}

.console {
  position: absolute;
  top: 7px;
  left: 47px;
}