<section class="section about-section">
  <div class="container">
    <h2 class="about-main-text">Найт-Сити изменит тебя навсегда!</h2>
    <p class="about-Cyberpunk-information">
      <span class="about-Cyberpunk-span">Cyberpunk 2077</span> — приключенческая
      ролевая игра, действие которой происходит в мегаполисе Найт-Сити, где
      власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V,
      наёмника в поисках устройства, позволяющего обрести бессмертие. Ты сможешь
      менять киберимпланты, навыки и стиль игры своего персонажа, исследуя
      открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя
      окружает.
    </p>
  </div>

  <ul class="about-list-img container-for-mobile-images">
    <li class="about-item-img">
      <ul class="nested-menu">
        <li class="nested-card">
          <picture>
            <source srcset="
                /img/mobile/about/mobile-about1.jpg    1x,
                /img/mobile/about/mobile-about1@2x.jpg 2x
              " media="(max-width: 767px)" width="320" />
            <source srcset="
                /img/pc/about/pc-about1.jpg    1x,
                /img/pc/about/pc-about1@2x.jpg 2x
              " media="(min-width: 768px)" width="460" />

            <img class="nested-card-image nested-card-image1-2" src="/img/mobile/about/mobile-about1.jpg"
              alt="Cyber City" width="320" />
          </picture>
        </li>
        <li class="nested-card">
          <picture>
            <source srcset="
                /img/mobile/about/mobile-about2.jpg    1x,
                /img/mobile/about/mobile-about2@2x.jpg 2x
              " media="(max-width: 767px)" width="320" />
            <source srcset="
                /img/pc/about/pc-about2.jpg    1x,
                /img/pc/about/pc-about2@2x.jpg 2x
              " media="(min-width: 768px)" width="460" />

            <img class="nested-card-image nested-card-image1-2" src="/img/mobile/about/mobile-about2.jpg"
              alt="Cyber City" width="320" />
          </picture>
        </li>
      </ul>
    </li>

    <li class="about-item">
      <picture>
        <source srcset="
            /img/mobile/about/mobile-about3.jpg    1x,
            /img/mobile/about/mobile-about3@2x.jpg 2x
          " media="(max-width: 767px)" width="320" />
        <source srcset="
            /img/tablet/about/tablet-about3.jpg    1x,
            /img/tablet/about/tablet-about3@2x.jpg 2x
          " media="(max-width: 1439px)" width="696" />
        <source srcset="
            /img/pc/about/pc-about3.jpg    1x,
            /img/pc/about/pc-about3@2x.jpg 2x
          " media="(min-width: 1440px)" width="788" />

        <img class="nested-card-image nested-card-image3" src="/img/mobile/about/mobile-about3.jpg" alt="Cyber City"
          width="320" />
      </picture>
    </li>
  </ul>
</section>