<section class="section about-section">
  <div class="container">
    <h2 class="about-main-text">Найт-Сити изменит тебя навсегда!</h2>
    <p class="about-Cyberpunk-information">
      <span class="about-Cyberpunk-span">Cyberpunk 2077</span> — приключенческая
      ролевая игра, действие которой происходит в мегаполисе Найт-Сити, где
      власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V,
      наёмника в поисках устройства, позволяющего обрести бессмертие. Ты сможешь
      менять киберимпланты, навыки и стиль игры своего персонажа, исследуя
      открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя
      окружает.
    </p>
    <ul class="about-list">
      <li class="about-item">
        <img src="" srcset="" alt="" />
      </li>
      <li class="about-item"></li>
    </ul>
  </div>
</section>