<section class="section ad-section">
  <div class="ad-container container">
    <div class="ad-container-item-first">
      <div>
        <picture>
          <source
            srcset="
              ../img/tablet/ad/tablet-monitor.png 1x,
              ../img/tablet/ad/tablet-monitor.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/mobile/ad/mobile-monitor.png    1x,
              ../img/mobile/ad/mobile-monitor@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../img/pc/ad/pc-monitor.png    1x,
              ../img/pc/ad/pc-monitor@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="../img/pc/ad/pc-monitor.png"
            alt="Read Journey"
            class="ad-monitor-image"
          />
        </picture>
      </div>
      <div class="ad-svg-container">
        <svg class="ad-svg-container-item">
          <use xlink:href="./img/icons.svg#hp"></use>
        </svg>
        <svg class="ad-svg-container-item">
          <use xlink:href="./img/icons.svg#x"></use>
        </svg>
        <svg class="ad-svg-container-item">
          <use xlink:href="./img/icons.svg#logo"></use>
        </svg>
      </div>
    </div>
    <div class="ad-container-item-second">
      <h2 class="ad-title">Полное погружение вместе с HP</h2>
      <p class="ad-content">
        Погрузись в современные экшен-игры с реалистичным изображением с помощью
        монитора с диагональю 23,8 дюйма, созданном для отображения максимально
        насыщенных цветов. Успевай реагировать на любые события с временем
        отклика 1 мс и частотой в 144 Гц!
      </p>
      <ul class="ad-list">
        <li class="ad-list-item">
          <svg class="ad-list-item-icon">
            <use xlink:href="./img/icons.svg#palette"></use>
          </svg>
          <p class="ad-list-item-content">Яркие насыщенные цвета</p>
        </li>
        <li class="ad-list-item">
          <svg class="ad-list-item-icon">
            <use xlink:href="./img/icons.svg#stars"></use>
          </svg>
          <p class="ad-list-item-content">Кристальная четкость изображения</p>
        </li>
        <li class="ad-list-item">
          <svg class="ad-list-item-icon">
            <use xlink:href="./img/icons.svg#motion"></use>
          </svg>
          <p class="ad-list-item-content">
            Быстрые движения и плавный геймплей
          </p>
        </li>
      </ul>
      <a
  class="ad-button"
  href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjN39fP4tmKAxWYpYMHHQAaFOAYABAMGgJlZg&co=1&ase=2&gclid=Cj0KCQiAst67BhCEARIsAKKdWOlnsZPE95SiGoPZV1xV8s4821DyjY6P9yOhQ69blbw-z1suca9VitoaAlYlEALw_wcB&ohost=www.google.com&cid=CAESVuD24kcLEz7Bc-NMw0scL_2FcQnmtqEklOZEoJsi6Sgc-GwGeptZYQUUK65aScVo4EtFdGrtjomwPVcWh2NFUtDWSygkVYjbYpnfUTiOFEd0Gjzwj_Id&sig=AOD64_1OjVq2M5UqjV6fTh4RFLUOOXzSmw&q&nis=4&adurl&ved=2ahUKEwiK0tHP4tmKAxXu3gIHHYITB4IQ0Qx6BAgKEAE"
  target="_blank"
  rel="noopener noreferrer">
  Подробнее
</a>
    </div>
  </div>
</section>
