<div class="line-gradient-top"></div>
<section class="section contest-section">
  <div class="container">
    <div class="stock-container">
      <svg class="contest-stock-svg" width="62" height="62">
        <use xlink:href="./img/icons.svg#yellow-star"></use>
      </svg>
      <p class="text-action-in-swg">акция</p>
    </div>

    <ul class="contest-list">
      <li class="contest-item contest-item-first">
        <ul class="console-list">
          <li class="wrapper-for-console wrapper-for-console-first-element">
            <picture>
              <source srcset="
                  ./img/mobile/contest/mobile-LayerYellow.png    1x,
                  ./img/mobile/contest/mobile-LayerYellow@2x.png 2x
                " media="(max-width: 767px)" width="132" />
              <source srcset="
                  ./img/pc/contest/pc-LayerYellow.png    1x,
                  ./img/pc/contest/pc-LayerYellow@2x.png 2x
                " media="(min-width: 768px)" width="332" />
              <img class="console-background" src="./img/mobile/about/mobile-LayerYellow.png"
                alt="Console background" />
            </picture>
            <picture>
              <source srcset="
                  ./img/mobile/contest/mobile-BlackPc.png    1x,
                  ./img/mobile/contest/mobile-BlackPc@2x.png 2x
                " media="(max-width: 767px)" width="85" />
              <source srcset="
                  ./img/pc/contest/pc-BlackPc.png    1x,
                  ./img/pc/contest/pc-BlackPc@2x.png 2x
                " media="(min-width: 768px)" width="214" />
              <img class="console" src="./img/mobile/about/mobile-BlackPc.png" alt="Console" />
            </picture>
          </li>

          <li class="wrapper-for-console">
            <picture>
              <source srcset="
                  ./img/mobile/contest/mobile-LayerBlue.png    1x,
                  ./img/mobile/contest/mobile-LayerBlue@2x.png 2x
                " media="(max-width: 767px)" width="132" />
              <source srcset="
                  ./img/pc/contest/pc-LayerBlue.png    1x,
                  ./img/pc/contest/pc-LayerBlue@2x.png 2x
                " media="(min-width: 768px)" width="332" />
              <img class="console-background" src="./img/mobile/about/mobile-LayerBlue.png" alt="Console background" />
            </picture>
            <picture>
              <source srcset="
                  ./img/mobile/contest/mobile-WhitePs.png    1x,
                  ./img/mobile/contest/mobile-WhitePs@2x.png 2x
                " media="(max-width: 767px)" width="85" />
              <source srcset="
                  ./img/pc/contest/pc-WhitePs.png    1x,
                  ./img/pc/contest/pc-WhitePs@2x.png 2x
                " media="(min-width: 768px)" width="214" />
              <img class="console" src="./img/mobile/about/mobile-WhitePs.png" alt="Console" />
            </picture>
          </li>
        </ul>
      </li>
      <li class="contest-item contest-item-second">
        <h2 class="promotional-message">Играй и выигрывай!</h2>
        <p class="text">
          Играй в <span class="about-Cyberpunk-span">Cyberpunk 2077</span> и
          получи возможность выиграть консоль
          <span class="about-Cyberpunk-span">Xbox Series X</span> или
          <span class="about-Cyberpunk-span"> Sony PlayStation 5! </span>
          Заполни форму ниже и приложи скриншот о покупке игры. Итоги розыгрыша
          будут подведены 1 февраля. Удачи! ;)
        </p>
      </li>
      <li class="contest-item contest-item-three">
        <form class="form" action="">
          <ul class="form-list">
            <li class="form-item">
              <label class="form-label" for="name">
                <input class="form-input form-name-and-email" id="name" type="text" placeholder="Как тебя зовут?"
                  required />
              </label>
            </li>
            <li class="form-item">
              <label class="form-label" for="email">
                <input class="form-input form-name-and-email" id="email" type="email" placeholder="Твой е-mail"
                  required />
              </label>
            </li>
            <li class="form-item">
              <label class="form-label form-upload-photo" for="upload-photo">
                <p class="text-upload-photo">Прикрепить скриншот</p>
                <p class="format-upload-photo">.png / .jpg / .pdf</p>
              </label>
              <input class="upload-photo" id="upload-photo" type="file" placeholder="Прикрепить скриншот" required />
            </li>
            <li class="form-item">
              <button class="form-btn-submit" type="submit">Отправить</button>
              <input class="form-input-data-processing visually-hidden" type="checkbox" name="user-privacy"
                id="data-processing" required />
              <label class="form-label-data-processing" for="data-processing">
                <span class="fake-checkbox">
                  <svg class="fake-checkbox-icon" width="10" height="10" aria-label="checkbox or check mark icon">
                    <use href="./img/icons.svg#check-mark"></use>
                  </svg>
                </span>
                Согласен на обработку персональных данных</label>
            </li>
          </ul>
        </form>
      </li>
    </ul>
  </div>
</section>
<div class="line-gradient-bottom"></div>