<section class="section contest-section">
  <div class="line-gradient"></div>
  <div class="container">
    <div class="stock-container">
      <svg class="contest-stock-svg" width="62" height="62">
        <use xlink:href="./img/icons.svg#yellow-star"></use>
      </svg>
      <p class="text-action-in-swg">акция</p>
    </div>

    <ul class="contest-list">
      <li class="contest-item">

        <ul class="console-list">
          <li class="wrapper-for-console">
            <picture>
              <source srcset="
                      ./img/mobile/contest/mobile-LayerYellow.png    1x,
                      ./img/mobile/contest/mobile-LayerYellow@2x.png 2x
                    " media="(max-width: 767px)" width="132" />
              <source srcset="
                      ./img/pc/contest/pc-LayerYellow.png    1x,
                      ./img/pc/contest/pc-LayerYellow@2x.png 2x
                    " media="(min-width: 768px)" width="460" />
              <img class="console-background" src="./img/mobile/about/mobile-LayerYellow.png"
                alt="Console background" />
            </picture>
            <picture>
              <source srcset="
                      ./img/mobile/contest/mobile-BlackPc.png    1x,
                      ./img/mobile/contest/mobile-BlackPc@2x.png 2x
                      " media="(max-width: 767px)" width="85" />
              <source srcset="
                      ./img/pc/contest/pc-BlackPc.png    1x,
                      ./img/pc/contest/pc-BlackPc@2x.png 2x
                    " media="(min-width: 768px)" width="296" />
              <img class="console" src="./img/mobile/about/mobile-BlackPc.png" alt="Console" />
            </picture>
          </li>

          <li class="wrapper-for-console">
            <picture>
              <source srcset="
                      ./img/mobile/contest/mobile-LayerBlue.png    1x,
                      ./img/mobile/contest/mobile-LayerBlue@2x.png 2x
                    " media="(max-width: 767px)" width="132" />
              <source srcset="
                      ./img/pc/contest/pc-LayerBlue.png    1x,
                      ./img/pc/contest/pc-LayerBlue@2x.png 2x
                    " media="(min-width: 768px)" width="460" />
              <img class="console-background" src="./img/mobile/about/mobile-LayerBlue.png" alt="Console background" />
            </picture>
            <picture>
              <source srcset="
                      ./img/mobile/contest/mobile-WhitePs.png    1x,
                      ./img/mobile/contest/mobile-WhitePs@2x.png 2x
                      " media="(max-width: 767px)" width="85" />
              <source srcset="
                      ./img/pc/contest/pc-WhitePs.png    1x,
                      ./img/pc/contest/pc-WhitePs@2x.png 2x
                    " media="(min-width: 768px)" width="296" />
              <img class="console" src="./img/mobile/about/mobile-WhitePs.png" alt="Console" />
            </picture>
          </li>
        </ul>
      </li>
      <li class="contest-item">

      </li>
      <li class="contest-item"></li>
    </ul>

  </div>
</section>