<footer class="footer section">
  <div class="container">
    <ul class="list">
      <li class="item">
        <ul class="menu menu-first">
          <li>
            <a class="logo-item" href="#">
              <svg class="logo-svg" width="200" height="50">
                <use xlink:href="./img/icons.svg#logo"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="logo-item" href="#">
              <svg class="logo-CD-Projekt" width="116.25" height="50">
                <use xlink:href="./img/icons.svg#CD-Projekt"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="item">
        <ul class="menu menu-second">
          <li>
            <a class="logo-item logo-item-text" href="#">Лицензия</a>
          </li>
          <li>
            <a class="logo-item logo-item-text" href="#"
              >Политика конфиденциальности</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <p class="text-autor">CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®</p>
</footer>
