<footer class="footer section">
  <div class="container">
    <ul class="list">
      <li class="item">
        <ul class="menu menu-first">
          <li class="logo-item">
            <svg class="logo-svg" width="200" height="50">
              <use xlink:href="./img/icons.svg#logo"></use>
            </svg>
          </li>
          <li class="logo-item">
            <svg class="logo-CD-Projekt" width="116.25" height="50">
              <use xlink:href="./img/icons.svg#CD-Projekt"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="item">
        <ul class="menu menu-second">
          <li class="logo-item logo-item-text">Лицензия</li>
          <li class="logo-item logo-item-text">Политика конфиденциальности</li>
        </ul>
      </li>
    </ul>


  </div>

  <p class="text-autor">CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®</p>
</footer>