<header class="header-section section">
  <div class="container header-container">
    <div>
      <a href="/" aria-label="Home Page">
        <svg class="header-logo">
          <use xlink:href="./img/icons.svg#logo"></use>
        </svg>
      </a>
    </div>
    <nav class="header-navigation-container">
      <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
        <svg class="header-social">
          <use xlink:href="./img/icons.svg#youtube"></use>
        </svg>
      </a>
      <a href="https://vk.com" target="_blank" aria-label="VK">
        <svg class="header-social">
          <use xlink:href="./img/icons.svg#vk"></use>
        </svg>
      </a>
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <svg class="header-social">
          <use xlink:href="./img/icons.svg#facebook"></use>
        </svg>
      </a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter">
        <svg class="header-social">
          <use xlink:href="./img/icons.svg#twitter"></use>
        </svg>
      </a>
      <a href="https://www.twitch.tv" target="_blank" aria-label="Twitch">
        <svg class="header-social">
          <use xlink:href="./img/icons.svg#twitch"></use>
        </svg>
      </a>
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <svg class="header-social">
          <use xlink:href="./img/icons.svg#instagram"></use>
        </svg>
      </a>
    </nav>
  </div>
</header>